@model IEnumerable<OnPaceRaceAdmin.Models.RunnerRaceTypeAndPace>

<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RaceTypeName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PaceTimeFrom)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PaceTimeTo)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="RacePaceType_@(item.RunnerId)_@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.RaceTypeName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PaceTimeFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaceTimeTo)
                </td>
                <td>
                    <form asp-action="DeleteRaceTypeAndPace" asp-controller="Runners" data-ajax="true" asp-route-id="@item.Id" asp-route-runnerId="@item.RunnerId" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#RacePaceType_@(item.RunnerId)_@item.Id">
                        @Html.AntiForgeryToken()
                        <input type="submit" class="btn btn-danger ml-auto float-right" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
