@model IEnumerable<OnPaceRaceAdmin.Models.RaceDTO>

@{
    ViewData["Title"] = "Index";
}

<h2>Races</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RaceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaceCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaceStatusName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceStatusName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new {id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
